[submodule "packages/trizen"]
	path = packages/trizen
	url = https://aur.archlinux.org/trizen.git
[submodule "packages/mutter-performance"]
	path = packages/mutter-performance
	url = https://aur.archlinux.org/mutter-781835-workaround.git
